
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



.subclass{
    height: 25px;
}

#nav-link{
    color: #070707;
    margin-right: 80px;
}


#nav-link:hover{
    text-decoration: none;
    color:#8956F3;
}

.loginn{
    text-decoration: none;
    color:#060606;
}

.loginn:hover{
    text-decoration: none;
    color:#8956F3;
}

#promocao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.promocao-botao{
    background:linear-gradient(28deg, #3DEBB0 1%,#e5e3ea 99%);
    border-radius: 10px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.promocao-botao:hover{
    background:linear-gradient(28deg, #3b753b 1%,#e5e3ea 99%);
}


.search-box{
    background:#0a1b2d;
    height: 20px;
    padding: 20px;
    border-radius: 15px;
   display: flex;
   justify-content:space-between;
   align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding:0;
    color:#f0f5fb;
    font-size: 14px;
    line-height: 30px;
    width: 0;
    transition: .5s;
}

.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#0a1b2d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

}

.botao_card{
    background:none;
    border:none;
}
.botao_card:hover{
    background-color: aquamarine;
}


.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;

}
.search-box:hover > .search-btn{
    background:#f0f5fb;
   

}
 .content {
    height: 300px;
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 80%;
    left: 50%;
    transform:translate(-50%,-50%);
 }
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #f0f5fb;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.bar:hover{
    background-color:#8956F3;
}